<% include header.ejs %>

<main>
  <p class="welcom">
    ยก<%= __('Welcome to our announcement community') %>! ยก<%= __('Welcome to')
    %> <%= title %>!
  </p>

  <h2><%= __(' Announcement List') %></h2>
  <% anuncios.forEach(anuncio => { %>
  <div class="addConten">
    <p>
        
      <br /> 
      <%= __('type add') %>:
      <b><%= anuncio.tipo %> </b>
      <br /><%= anuncio.nombre %> <%= __('costs') %> <%= anuncio.precio %> Euros

    </p>
    <img src="<%= anuncio.foto %>" />
    <p><%= __('tags') %>: <b> <%= anuncio.tag %> </b></p>
  </div>
  <% }) %>
</main>

<% include footer.ejs %>
